/* imports */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* gneneral styles */
body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* nav bar */
nav {
    font-family: "Oswald", sans-serif;
}

/* hero section */
.hero h1{
    font-family: "Oswald", sans-serif;
}

/* image section */
#background-image {
    background: url(../images/coach-helping-client.png) no-repeat center center/cover;
    width: 100%;
    min-height: 360px;
    margin-top: -2px;
}

/* why choose us? section */
main {
    background-color: blanchedalmond;
}
#main-image {
    width: 100%;
}
#meet-coaches{
    margin-top: 30px;
}

.card {
    min-height: 150px;
    padding: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif !important;
}


/* footer */
footer {
    /* margin top is set using bootstrap class */
    font-family: "Oswald", sans-serif;
}



/* media queries */

@media screen and (min-width: 768px) {
    #background-image {
       background: url(../images/coach-helping-client.png) no-repeat cover;
       min-width: 100%;
       min-height: 500px;
       background-position: 0% 10%;
       padding: 10% !important;
    }
    * {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 992px) {
    #background-image {
        background: none;
        min-width: 0;
        min-height: 0;
        background-position: 0;
        padding: 0px !important;
    }

    .card {
        min-height: 180px;
        border-radius: 8px;
    }

    main{
        min-height: 800px;
        /* background: url(../images/large-gym.png) no-repeat center/cover;
        background-position: 0% 60%; */
        background-color: blanchedalmond;
    }

    main h2 {
        background-color: #212529;
        padding: 2%;
        display: inline-block;
        border-radius: 8px;
    }

    main h2, main p, main h4 {
        color: white !important;
    }

    #meet-coaches {
        margin-top: 30px;
        margin-bottom: -20px;
    }
    .coaches .card {
        min-height: 943px;
    }
    /* .coaches .btn {
        max-width: 60%;
    } */
    .hero {
        background: url(../images/large-gym.png) no-repeat center/cover;
        position: relative;
        background-position: 0% 75%;
        color: white !important;

    }
    .hero:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
    }

    .hero * {
        position: relative;
        z-index: 1;
    }

}

@media screen and (min-width: 1024px) {
    
    nav ul li a{
        font-size: 1.25rem !important;
    }
    nav ul li a:hover{
        color: blanchedalmond !important;
    }

    .navbar-brand {
        font-size: 1.5rem !important;
    }
    .navbar-brand:hover {
        color: blanchedalmond;
    }
}